@font-face {
  font-family: "Bricolage_Grotesque";
  src: url("/fonts/BricolageGrotesque-ExtraBold.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Bricolage_Grotesque2";
  src: url("/fonts/BricolageGrotesque.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
.ship {
  font-family: "Bricolage_Grotesque";
  font-weight: 400;
}
.ship2 {
  font-family: "Bricolage_Grotesque2";
  font-weight: 400;
}
